*

!/materials/
!/materials/dev_nyro/
!/materials/dev_nyro/**
!/materials/flux
!/materials/flux/**
!/sound/
!sound/flux/
!sound/flux/**
!/maps
!/maps/surf_flux.vmf
!/maps/surf_flux.bsp
!.gitignore
!.gitattributes
!.git